body {
    background-color: lightgray;
}
footer {
    height: 5px;
    background-color: #009179;
}

h2 {
    text-align: center;
}

.block{
    background-color: white;
    padding: 25px;
    margin: 20px;
}
.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #009179;
    font-weight: bold;
}
@media (max-width: 768px) {
    .navbar {
        background-color: #009179;
    }
    .navbar-collapse {
        background-color: white;
    }
}
.navbar-default .navbar-brand {
    background-color: #009179; 
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30pt;
    height: 80px;
    padding: 30px;
}
.navbar-default .navbar-header {
    margin-left: 50px;
}
.navbar-nav {
    font-size: 15pt;
    padding-top: 15px;
}

.navbar-toggle .icon-bar {
    width: 30px !important;
    height:3px !important;
  }
.footer-copyright {
    background-color: gray;
    color: white;
    padding: 20px;
}
.txt {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    line-height: 2;
}